section {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    color:white;
    background-color: #B28A70;
    background-repeat: no-repeat;
    background-position: center;
    visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  section.active {
    visibility: visible;
  }
  .container{
    max-width: 1320px;
  }