@font-face {
  font-family: 'Cormorant_Garamond';
  src: url('../fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf');
}
@font-face {
  font-family: 'Cormorant_Garamond';
  src: url('../fonts/Cormorant_Garamond/CormorantGaramond-BoldItalic.ttf');
}

.header-title {
  padding-top: 309px;
}
.our-story{
  text-align: left;
}

h1{
  font-family: Cormorant Garamond;
  font-style: italic;
  font-weight: bold;
  font-size: 100px;
  line-height: 100%;
  /* identical to box height, or 100px */
  text-align: center;
  color: #000000;
}
h2{
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 600;
  font-size: 100px;
  line-height: 100%;
  /* identical to box height, or 100px */
  color: #000000;
}

.pages-num{
  background: url('../images/line-page.svg');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  width: 26px ;
  height: 144px;
  color: #000000;
  position: absolute;
  top: 350px;
}

section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  color:white;
  background-color: #B28A70;
  background-repeat: repeat-y;
  background-position: center top;
  background-size: 100%;
  visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
section.active {
visibility: visible;
}

.flexflex{
  display: flex;
  align-content: center;
}

.circle-item{
  background-color: #C4C4C4;
  width: 270px;
  height: 270px;
}

.white{
  color: #fff;
}


.lockedcont{
  max-width: 1440px;
}